*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    cursor: default;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
    line-height: 1.5;
    font-size: $fz-base;
    font-weight: $fw-light;
}

a {
    display: inline-block;
    text-decoration: none;
}

img {
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}