// font
// font-size
$fz-h1: 80px;
$fz-h2: 32px;
$fz-base: 24px;
$fz-sm: 20px;
// font-weight
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;

// color
$c-main: #415165;
$c-accent: #A00404;
$c-border:#96A9C4;

// space
$space: 8px;